body {
    margin: 0; 
}
#game{
    text-align: center;
    background-color:palevioletred;
    height:704px;
    width:1280px;
    touch-action: none;
    
}
#retro{
    background-color:green;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
}
canvas{
    
    background-color:aquamarine;
}
